<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <%- include('partials/navbar', {page:'/login'}) %>
</head>
<body class="bg-gray-200 p-4">
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg p-8">
        <h1 class="text-2xl font-bold mb-4">Login</h1>
        <form action="/login" method="POST">
            <div class="mb-4">
                <label for="userName" class="block mb-2">User Name:</label>
                <input type="text" id="userName" name="userName" placeholder="User Name" class="input input-bordered" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-2">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" class="input input-bordered" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <% if (errorMessage) { %>
            <div class="alert alert-error mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 inline-block mr-2 stroke-current" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span><%= errorMessage %></span>
            </div>
        <% } %>
    </div>
</body>
</html>
